body {
  height: 100vh;
  position: relative;
  transition: all 0.3s ease-out;
}

.main {
  background: center / cover no-repeat url('../images/front.png');
}

.family-tree {
  background: center / cover no-repeat url('../images/family-tree.jpg');
}

h1 {
  display: none;
}

#signet {
  display: inline-block;
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

#signet img {
  width: 10rem;
}

.hidden {
  display: none !important;
}
